<form class="form-group">
    Title: <input [(ngModel)]="post.title" class="form-control" type="text" name="title"/>
    Body: <textarea [(ngModel)]="post.body" class="form-control" name="body" row="5"></textarea>
    <br>
    <button type="button" (click)="deletePost()" class="btn btn-danger">Delete</button>
    <button type="button" (click)="updatePost()" class="btn btn-success">Save</button>
    <a routerLink="../../preview/{{post.postid}}" routerLinkActive="active">
        <button type="button" (click)="updatePost()" class="btn btn-secondary">
            Preview
        </button>
    </a>
</form>
